{% extends "base.html" %}
{% block title %}
    {{title}}
{% endblock title %}
{% block menu %}
    <li><a href="{% url 'home' %}">Головна</a></li>
    <li><a href="{% url 'about' %}">Про мене</a></li>
{% endblock menu %}
{% block content %}
    {% autoescape off %}
        <div class="inner">
            <h1 class="title">{{object.title}}</h1>
            <div class="inner">
              <div class="pub_date">
                <i class="glyphicon glyphicon-calendar"></i>
                <strong>{{object.created|date:'d M. Y'}}</strong>
              </div>
              <div class="tags">
                <i class="glyphicon glyphicon-tag"></i>
                {% for tag in object.tags.all %}
                    <a class="{{tag|lower}}" href="{% url 'tag' tag=tag %}">{{tag|upper}}</a>
                {% endfor %}
              </div>
          </div>
            {{object.article}}
        </div>
    {% endautoescape %}
{% endblock content %}