.alert-done {
  color: gray;
  background-color: lavender;
  border-color: gainsboro;
  margin-top: 15px;
  margin-bottom: -21px;
}

/*Search Form */
#search-form {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#search-form { 
  float: right; 
  position: relative; 
  height: 32px;
  padding-left: 28px;
  margin-top: -35px;
}
#search-field { 
  background: dimgray;
  width:380px;
  height:65px;
  color:#fff;
  font-size:16px;
  border:none;
  outline:none;
  padding:0 15px;
  width:100%;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
#search-wrap {
  width:430px;
  height:65px;
  overflow:hidden;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity:0;
  pointer-events:none;
  z-index:2;
  position:absolute;
  right:0;
}

#search-form.active #search-wrap { 
  width:430px; 
  opacity:1; 
  pointer-events:inherit;
}
  
#open-search-btn {
  color:#cccccc;
  text-decoration:none;
  position:absolute;
  top:20px;
  font-size:21px;
  right:8px; 
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  transition: transform 0.3s linear;
  z-index:2;
}
.active #open-search-btn {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);  
}
#open-search-btn:hover {
  color:#fff;
}

.wrapper {
  padding-bottom: 10px;
  min-height: -webkit-calc(100% - 76px);     /* Chrome */
  min-height: -moz-calc(100% - 76px);     /* Firefox */
  min-height: calc(100% - 76px);     /* native */
}

a, 
.title {
  color: #DF6921;
}

a:focus,
a:hover {
  color: #DF6921;
  text-decoration: none;
}

.title a {
  background-size: 200.22% auto;
  -webkit-background-size: 200.22% auto;
  -moz-background-size: 200.22% auto;
  background-position: -0% 0;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #f8e1d3 50%); 
  transition: background-position 0.5s ease-out;
  -webkit-transition: background-position 0.5s ease-out;
}
.title a:focus,
.title a:hover {
  background-position: -99.99% 0;
}

.tags {
  float: right;
}

.btn:focus,
.btn:hover {
  color: white;
}
::selection {
    background: #f8e1d3
}

.footer-text {
  position: relative;
  top: 15px;
}

html,
body {
  height: 100%;
}

header {
  height: 100px;
  padding-bottom: 10px;
}
header > .cover-container {
  top: 25px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}

footer {
  text-align: center;
  position: relative;
  height: 76px;
  clear: both;
}
footer > .cover-container {
  height: 75px;
}

header,
footer {
  color: #DBDBDB;
  background-color: gray;
}

body {
  background-color: #eee;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

p {
  text-indent: 25px;
}

.badge > a {
  text-decoration: none;
  color: white;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 21px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-brand > a {
  color: rgba(255,255,255,.75);
  font-weight: 900;
  font-style: italic;
  font-family:  Georgia, serif;
  text-decoration: none;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a.btn {
  text-decoration: none;
  padding: 0px;
  border: none;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
