/* style tags */
.tag-django,
.tag-django:hover {
  color: #008000;
}

.tag-css,
.tag-css:hover {
  color: #DFA30F;
}

.tag-other,
.tag-other:hover {
  color: #808080;
}

.tag-python,
.tag-python:hover {
  color: #276DE1;
}

.tag-flask,
.tag-flask:hover {
  color: #800000;
}

.tag-javascript,
.tag-javascript:hover {
  color: #B8860B;
}
/* end style tags*/

.alert-search {
  color: gray;
  margin-top: 15px;
  margin-bottom: -21px;
  margin-left: 21px;
  margin-right: 21px;
}

/*Search Form */
#search-form {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#search-form {
  float: right;
  position: relative;
  height: 32px;
  padding-left: 28px;
  margin-top: -35px;
}

#search-field {
  background: #708090;
  width: 380px;
  height: 65px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#search-wrap {
  width: 430px;
  height: 65px;
  overflow: hidden;
  transition: opacity 0.3s linear;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  position: absolute;
  right: 0;
}

#search-form.active #search-wrap {
  width: 430px;
  opacity: 1;
  pointer-events: inherit;
}

#open-search-btn {
  color: rgba(255, 255, 255, .75);
  text-decoration: none;
  position: absolute;
  top: 20px;
  font-size: 21px;
  right: 10px;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  z-index: 2;
}

.active #open-search-btn {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#open-search-btn:hover {
  color: #fff;
}

.wrapper {
  padding-bottom: 10px;
  min-height: calc(100% - 76px);     /* native */
}

a,
.title {
  color: #DF6921;
}

a:focus,
a:hover {
  color: #DF6921;
  text-decoration: none;
}
h1,h2,h3,h4,h5,
.title {
  font-family: "PhilosopherRegular";
}
.title a {
  background-size: 200.22% auto;
  -webkit-background-size: 200.22% auto;
  -moz-background-size: 200.22% auto;
  background-position: -0% 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #f8e1d3 85%);
  transition: background-position 0.5s ease-out;
  -webkit-transition: background-position 0.5s ease-out;
}

.title a:focus,
.title a:hover {
  background-position: -99.99% 0;
}

.tags {
  float: right;
}

.btn:focus,
.btn:hover {
  color: white;
}

::-moz-selection {
  background: #f8e1d3
}

::selection {
  background: #f8e1d3
}

.footer-text {
  position: relative;
  top: 15px;
}

html,
body {
  height: 100%;
  color: #778899;
}

header {
  height: 65px;
  padding-bottom: 10px;
}

header > .cover-container {
  top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}

footer {
  text-align: center;
  position: relative;
  height: 76px;
  clear: both;
}

footer > .cover-container {
  height: 75px;
}

header,
footer {
  color: rgba(255, 255, 255, .75);
  background-color: #778899;
}

body {
  background-color: #eee;
}

hr {
  background-image:linear-gradient(
    to right, 
    rgba(119, 136, 153, 0.3), 
    rgba(119, 136, 153, 1), 
    rgba(119, 136, 153, 0.3));;
  border: 0;
  display: block;
  height: 1px;
}

hr.faild {
  background-image:linear-gradient(
    to right, 
    rgba(240, 128, 128, 0.3), 
    rgba(240, 128, 128, 1), 
    rgba(240, 128, 128, 0.3));;
}

 .inner p img {
  max-width: calc(100% - 21px);
  width: calc(100% - 21px);
  height: 100%;
  object-fit: scale-down;
  object-fit: -o-scale-down;
} 

p {
  text-indent: 21px;

}

.hljs, pre, code {
  background-color: #f5f5f5;
}

pre, pre code {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  word-wrap: initial;
  white-space: pre;
}

.pub_date {
  display: inline-block;
  color: #778899;
}

.tags a {
  text-decoration: underline;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 21px;
}

.inner.paginate,
.paginate .pager {
  padding-top: 0px;
  margin: 0px;
}

.inner > .inner {
  padding-top: 0px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 8px;
  margin-bottom: 10px;
}

.masthead-brand > a {
  color: rgba(255, 255, 255, .75);
  font-weight: 100;
  font-size: 28pt;
  font-family: "CalligraphMedium";
  text-decoration: none;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  /*font-size: 16px;*/
  font-family: "PhilosopherRegular";
  font-size: large;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255, 255, 255, .75);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a.btn {
  text-decoration: none;
  padding: 0px;
  border: none;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (max-width: 480px) and (orientation: portrait) {
  .tags {
    float: left;
    display: block;
    position: absolute;
  }
}
/*
 * Affix and center
 */
@media (max-width:767px) {

  /**/
  .nav-menu {
    margin-top: 3px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    display: none;
  }

  .nav-menu.active {
    display: block;
  }

  .masthead-nav > li {
    display: block;
    background-color: #778899;
    margin-bottom: -0.25em;
    margin-top: -0.25em;
    height: 50px;
  }

  .masthead-nav > li + li {
    margin-left: -10px;
    padding-left: 10px;
  }

  .masthead-nav > li > a {
    padding-right: 0;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
  }

  .masthead-nav > li > a.btn {
    text-decoration: none;
    padding: 0px;
    border: none;
  }

  .masthead-nav > li > a:hover,
  .masthead-nav > li > a:focus,
  .masthead-nav > li #search-field:hover,
  .masthead-nav > li #search-field:focus {
    background-color: #708090;
    border-bottom-color: transparent;
    border-left-style: solid;
    border-left-color: currentColor;
    border-left-width: 3px;
  }

  .masthead-nav > .active > a,
  .masthead-nav > .active > a:hover,
  .masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: transparent;
    border-left-style: solid;
    border-left-color: currentColor;
    border-left-width: 3px;
  }

  /**/
  .masthead-brand {
    width: auto;
    margin-top: 4px;
  }

  .masthead-nav {
    margin-left: -10px;
    display: block;
  }

  .tags {
  }

  .navbar-toggle {
    top: 0px;
    right: 0px;
    position: absolute;
    background-color: currentColor;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .navbar-toggle .icon-bar {
    background-color: lightslategray;
  }

  .navbar-toggle:hover {
    background-color: #B0C4DE;
  }

  /*style search form*/
  #search-form {
    float: none;
    position: relative;
    height: 0px;
    padding-left: 0px;
    margin-top: 0px;
  }

  #search-field {
    background-color: #778899;
    height: 50px;
  }

  #search-field::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .75);
  }

  #search-field:-moz-placeholder {
    color: rgba(255, 255, 255, .75);
  }

  #open-search-btn {
    visibility: hidden;
  }

  #search-wrap {
    width: 100%;
    position: relative;
    opacity: initial;
    pointer-events: auto;
  }

  header {
    height: 65px;
  }

  header > .cover-container {
    top: 0px;
    height: 65px;
    padding-top: 9px;
    position: fixed;
    width: 100%;
    z-index: 3;
    color: rgba(255, 255, 255, .75);
    background-color: #778899;
  }
}

@media (min-width:768px) {
  .masthead-brand {
    float: left;
  }

  .masthead-nav {
    float: right;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

}

@media (min-width:992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 768px;
  }

}