@font-face {
    font-family: "CalligraphMedium";
    src: url("../fonts/CalligraphMedium/CalligraphMedium.eot");
    src: url("../fonts/CalligraphMedium/CalligraphMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CalligraphMedium/CalligraphMedium.woff") format("woff"),
    url("../fonts/CalligraphMedium/CalligraphMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PhilosopherRegular";
    src: url("../fonts/PhilosopherRegular/PhilosopherRegular.eot");
    src: url("../fonts/PhilosopherRegular/PhilosopherRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PhilosopherRegular/PhilosopherRegular.woff") format("woff"),
    url("../fonts/PhilosopherRegular/PhilosopherRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}