{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/cover.css" %}">
    <link href="{% static "ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/googlecode.css" %}" rel="stylesheet">
</head>
<body cz-shortcut-listen="true">
  <div class="wrapper">
    <header>
      <div class="cover-container">
        <div class="navbar-header">
          <h3 class="masthead-brand" ><a href="{% url 'home' %}">ПрАгмАтікА</a></h3>
          <button type="button" class="navbar-toggle" id="navbar_toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
          <nav class="nav-menu" id="masthead_menu">
              <ul class="nav masthead-nav">
                {% block menu %}
                  <li><a href="{% url 'home' %}">Головна</a></li>
                  <li><a href="{% url 'about' %}">Про мене</a></li>
                {% endblock menu %}
                <li>
                  <form method="get" action="{% url 'search' %}" id="search-form" class="" onsubmit="return false;">
                    <div id="search-wrap">
                      <input name="q" id="search-field" value="" placeholder="Пошук" autocomplete="off" onkeydown="search_form(this);">
                    </div>
                    <a href="javascript:void(0);" class="icon-search" id="open-search-btn"><i class="glyphicon glyphicon-search"></i></a>
                  </form>
                </li>
              </ul>
          </nav>
      </div>
    </header>
    <div class="cover-container">
        {% block alert %}{% endblock alert%}
        {% block content %}{% endblock content %}
        {% block pagination %}
          {% if is_paginated %}
            <div class="inner paginate">
              <nav>
                <ul class="pager">
                  <li class="previous{% if not page_obj.has_previous %} disabled {% endif %}">
                    <a {% if page_obj.has_previous %}href="?page={{page_obj.previous_page_number}}"{% endif %}><span aria-hidden="true">&larr;</span> Попередня</a>
                  </li>
                  <li class="next{% if not page_obj.has_next %} disabled {% endif %}">
                    <a {% if page_obj.has_next %}href="?page={{page_obj.next_page_number}}"{% endif %}>Наступна <span aria-hidden="true">&rarr;</span></a>
                  </li>
                </ul>
              </nav>
            </div>
          {% endif %}
        {% endblock pagination %}
    </div>
  </div>
  <footer class="footer">
    <div class="cover-container">
        <span class="footer-text">Зроблено на  
          <a href="https://www.djangoproject.com/">
            <img width="49" height="49" src="{% static 'icon/django-logo-positive.svg' %}" alt="Django">
          </a>
        </span>
    </div>
  </footer>
<script>
  function search_form(e) {
    if (event.keyCode == 13) {
      validate_submit_search_form(e);
    }
  }
  function validate_submit_search_form(e) {
    var search_field = document.getElementById('search-field');
    search_field.value = search_field.value.trim();
    if (search_field.value.length > 0) {
      document.forms['search-form'].submit();
    }
    return false;
  }
  function activate_search_form(e) {
    var search_form = document.getElementById('search-form');
    if( search_form.className === 'active'){
      var search_field = document.getElementById('search-field');
      if (validate_submit_search_form(e)) {
        search_form.className = '';
      }
    }
    else{
      search_form.className = 'active';
      document.getElementById('search-field').focus();
    }
  }
  function search_field_focus_out(e) {
    setTimeout(function () {
      document.getElementById('search-form').className = '';
    }, 196);
  }
  function active_navbar_toggle(e) {
    var menu = document.getElementById('masthead_menu');
    if(menu.className === 'nav-menu') {
      menu.className = 'nav-menu active';
    } else {
      menu.className = 'nav-menu';
    }
  }
  document.getElementById('open-search-btn').addEventListener('click', activate_search_form);
  document.getElementById('search-field').addEventListener('focusout', search_field_focus_out);
  document.getElementById('navbar_toggle').addEventListener('click' , active_navbar_toggle);
</script>
<script src="{% static "ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js" %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>